Project1/Project1.sln
Project1/.vs/Project1/FileContentIndex/1bda7453-3103-4af9-a44e-80fcdd030c73.vsidx
Project1/.vs/Project1/FileContentIndex/b3e89a86-5dd6-4e5d-acbe-d9f75d15749a.vsidx
Project1/Project1/x64/Debug/Project1.tlog/Project1.lastbuildstate
Project1/Project1/x64/Debug/Project1.tlog/link.write.1.tlog
Project1/.vs/Project1/FileContentIndex/e8fba220-e7f6-4bc0-b30b-0a37c171ec09.vsidx
Project1/.vs/Project1/v17/Browse.VC.db
Project1/.vs/Project1/v17/DocumentLayout.json
Project1/.vs/Project1/v17/Solution.VC.db
Project1/.vs/Project1/v17/ipch/AutoPCH/ca456ac79712f38b/TEST.ipch
Project1/Project1/Project1.vcxproj
Project1/Project1/Project1.vcxproj.filters
Project1/Project1/x64/Debug/Project1.exe.recipe
Project1/Project1/x64/Debug/vc143.idb
Project1/Project1/x64/Debug/Project1.tlog/CL.command.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/Cl.items.tlog
Project1/Project1/x64/Debug/Project1.tlog/CL.read.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/CL.write.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/link.command.1.tlog
Project1/Project1/x64/Debug/Project1.tlog/link.read.1.tlog
